.footer{
  background-color: #0082a1;
  color:#fff;
  a{
  color:#fff;
  display: block;
  font-weight: 300;
  transition: all .4s;

  padding: 0 3px;

  &:hover{
    background: #00c2f0;
    // text-decoration: underline;
    // padding-bottom: 4px;
    transform: scale(1.03);
    // text-underline-position: under;
  }
  }

  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px ;
    justify-content: space-between;
  }

  &__block{
    &:not(:last-child){
      margin-right: 70px;
    }

    margin-bottom: 40px;
    
  }

  .aboutcompany{
    flex: 3;
  }

  .modules{
    flex: 2;
  }

  .aboutus{
    flex: 1;
  }







  &__title{
    font-size: 16px;
  }

  &__logo{
    margin: 20px 0;
    transition: all .5s;
    &:hover{
      transform: scale(1.04);
    }
  }

  &__descr{
    line-height: 1.3;
    font-size: 14px;
    font-weight: 300;
  }

  &__line{
    margin: 0;
  }

  .copyright{
    text-align: center;
    font-size: 13px;
line-height: 17px;
font-weight: 300;
padding: 35px 0;
  }
} 