
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');



body{
  font-family: 'Roboto', sans-serif;
  
}

.hide{
  // visibility: hidden;
  display: none !important;
}




h1, h2 ,h3{
  margin: 0;
}
.title{
// margin: 0 ;
}

.container{
padding:0 1.5rem;
max-width: 1140px;
margin: auto; 
}
.noScroll{
  overflow: hidden;
}

a{
  text-decoration: none;
}

